@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.navigation-bar {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    box-shadow: 3px 3px 10px black;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    color: black;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo {
    font-size: 35px;
    color: black;
}

.menu-container {
    flex: 6;
    color: black;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 17px;
    color: black;
}

.menu-list-item {
    margin-top: 1 0px;
    margin-right: 30px;
    color: black;
}

.profile-container {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-container {
    margin: 0 20px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(213, 221, 69);
    background-color: transparent;

}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.background {
    width: 100%;
    height: 100%;
    background-color: teal;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
}

.about {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
}


.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #472d2d;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

.logo {
    font-family: 'Lora', serif;
    font-size: 27px;
}

/* Header Start */

/* Home Page */
#hero {
    background-image: url('img/background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h4 {
    font-family: 'PT Serif', serif;
    padding-bottom: 15px;
    font-size: 25px;
}

#hero h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#hero h1 {
    font-family: 'Lora', serif;
    color: #088178;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    font: 10px;
    cursor: pointer;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.3);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    font-size: 14px;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
    box-shadow: 2px 0 5px black;
    margin-bottom: 15px;
}

#product1 h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.row {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-family: 'IBM Plex Sans', sans-serif;
}

.doctors h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/Prod/background-main.jpg');
    width: 100%;
    height: 40vh;
}

#banner h4 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#banner h2 {
    color: #fff;
    font-size: 35px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/banner/b17.jpg');
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#banner {
    box-shadow: 2px 2px 5px black;
}

.wrapper {
    width: 500px;
}

.box1 {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 50px;
    opacity: .7;
    margin-bottom: 15px;
}

.box1 h4 {
    color: black;
}


#sm-banner .banner-box2 {
    background-image: url('img/banner/b10.jpg');
}

#sm-banner h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

#sm-banner h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/banner/b7.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url('img/banner/b4.jpg');
}

#banner3 .banner-box3 {
    background-image: url('img/banner/b18.jpg');
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}


#news-letter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#news-letter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#news-letter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#news-letter p span {
    color: #ffbd27;
}

#news-letter .form {
    display: flex;
    width: 40%;
}

#news-letter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news-letter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.doctors {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    box-shadow: 2px 2px 5px black;

}

.doctor-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 15px;
}

.doctor-col img {
    width: 80%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(210, 213, 183, 0.752);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }


    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter .form {
        width: 100%;
    }
}

ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}


/* below is just for demo styling */

.footer {
    /* display: flex; */
    height: 15vh;
    width: 100%;
    text-align: center;
    background-color: #041e42;
    font-family: Menlo, monospace;

}

.footer ul{
    margin-top: 10px;
    list-style: none

}

.footer ul li a{
    color: white;
}

.footer h3{
    padding-top: 15px;
    text-align: center;
    color: white;
}

.footer h4{
    text-align: center;
    margin-top: 8px;
    color: white;

}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

#doctor{
  background-image: url("img/doc.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Suggested{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text{
  margin-top: 20px;
}

.local{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
  margin-top: 20px
}

.doc1{
  background-image: url("img/doc/indra.jpg");
  background-size: cover;
  width: 200px;
  height: 350px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 5%;
}

.doc2{
  background-image: url("img/doc/alexi.jpeg");
  background-size: cover;
  width: 200px;
  height: 350px;
  margin-right: 100px;
  border-radius: 5%;
}

.doc3{
  background-image: url("img/doc/rohit3.jpeg");
  background-size: cover;
  width: 200px;
  height: 350px;
  margin-right: 100px;
  border-radius: 5%;
}

.doc4{
  background-image: url("img/doc/irarara.jpeg");
  background-size: cover;
  width: 200px;
  height: 350px;
  margin-right: 100px;
  border-radius: 5%;
}

#map{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-name{
  margin-top: 20px;
  margin-bottom: 20px;
}

.google-map{
  width: 800px;
  height: 350px;
  border-radius: 5%;
  margin-bottom: 20px;
}
